* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden; /*Zorgt ervoor dat je niet horizontaal kan scrollen*/
  font-family: system-ui, -apple-system, Roboto, 'Open Sans', sans-serif;
}

:root {
  font-size: min(calc(1em + 0.1vw), 4em);
  --white: #fff;
  --grey: #f6f6f2;
  --mintgreen: #c2edce;
  --blue: #388087;
  --black: #000;
}

body {
  min-height: 100vh;
  margin: 0, auto;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
  line-height: 1.5;
  color: var(--black);
}

body > * {
  padding: 0 2rem;
}

header {
  background-color: white;
  margin-bottom: 1rem;
  color: var(--black);
}

header > h1 {
  font-size: 1rem;
  text-align: right;
  margin-bottom: 5vh;
}

main {
  margin-left: 3em;
  align-self: center;
}

section {
  background: white;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin-bottom: 5vh;
}
section + section {
  margin-top: .5rem;
}

h2 {
  color:var(--blue);
  margin-bottom: 0.5em;
}

h3 {
  border-bottom: DarkSlateGray 1px solid;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 1rem;
}

p{
  margin-bottom: .75em;
  max-width: 50em;
}

/* Images */
.foto{
  width: 80vw;
  min-width: 400px;
  border: #000 1px solid;
}

/* Link */
.link {
  color: var(--blue);
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

/* Kleuren */
.color-box {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  display: inline-block;
  background-color: var(--color);
  text-align: center;
  color: var(--black);
  border: 1px solid #000;
  margin:5vh 1vh;
}

.color-box p {
  margin: 5px 0;
}

.whitecolor{
  color: var(--white);
}

/* Code */
pre {
  margin: 1em 0;
  background: var(--mintgreen);
  color: var(--black);
  font-size: 14px;
  overflow: auto; /*Zorgt ervoor dat als de te lang is je kan scrollen*/
}

/* Nav */
.mainNav{
  position: fixed;
  top: 0.5em;
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cdf8dd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1.3em;
}
.sideMenu a {
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 0.8em;
  color: #225035;
  display: block;
  transition: 0.3s;
}
.sideMenu a:hover {
  color: ghostwhite;
}
.menubtn{
  font-size:2em;
  cursor:pointer;
  display:block;
  margin: 3% 5%;
}


/* Container met voorbeeld van fonts */
.box_wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 1em;
}

.ShortcutTiles {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.ShortcutTile {
  margin: 1em;
  height: 15rem;
  width: 14rem;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.ShortcutTile_inner {
  position: relative;
  border-width: 0.5px;
  border-style: solid;
  border-image: initial;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ShortcutTile_Image {
  background-size: cover;
  background-position: center center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}

.ShortcutTile_Body {
  padding: 16px 16px 0px;
    margin: 0px 0px 16px;
    height: 0px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ShortcutTile_Body_Title {
  margin: 0px 0px 12px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 525;
  font-family: Helvetica, Arial, sans-serif;
  border: 0px;
  outline: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ShortcutTile_Body_Discription {
  font-size: 0.75rem;
  font-weight: 500;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  border: 0px;
  outline: 0px;
  flex: 1 1 0%;
  height: 0px;
  line-height: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Nav bar voorbeeld */
.exampleNav{
  background-color: var(--blue);
  text-align: center;
}

.exampleNav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.exampleNav ul li{
  padding: 1em;
  width: 20vw;
}

.exampleNav a{
  color:var(--white);
  text-decoration: none;
}

.exampleNav a:hover{
  color: beige;
  text-decoration: underline;
}

/* Cards voorbeeld */
a{
  color: var(--grey);
  text-decoration: none;
}
.card{
  margin: 0 2em;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column; /*zorgt ervoor dat de image en tekst onderelkaar komen te staan in de article*/
  background: var(--blue);
  position: relative;
  width: 20vw;
  height: 50vh;
  min-height: 250px;
}  

.card img{
  width: 100vw;
  height: 20vh;
  align-self: center;
  min-height: 70px;
  max-width: 190px;
}

.card h3{
  margin-top: 1em;
  border-bottom: none;
}

/* Buttons */
.button-link {
  display: block;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  transition: all 0.3s;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.button-link:hover {
  background-color: var(--grey);
  color: var(--black);
}

button{
  width: 15vw;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
  position: relative;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

button:hover{
  background-color: var(--grey);
  color: var(--black);
}

/* Forms */
form{
  margin: auto;
  width: 400px;
}

form label{
  border: none;
  padding-bottom: 3px;
  display: flex;
}

form label:hover{
  background: #fff;
  pointer-events: none;
}
  
form input {
  border-radius: 5px;
  padding-left: 15px;
  width: 30vw;
  height: 5vh;
}
  
form textarea{
  border-radius: 5px;
  padding-left: 15px;
  width: 30vw;
  height: 25vh;
}

.search button{
  width: auto;
  height: 5vh;
  padding: 0.5em;
  margin-left: 0.5em;
}

/* Checkbox */
label {
  border: 1px solid var(--grey);
  padding: 10px;
  margin: 0 10px 10px;
  display: block;
  white-space: nowrap;
}

label:hover {
  background: var(--grey);
  cursor: pointer;
}

#check label{
  width: 100px;
  height: 50px;
}