* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

body {
  min-height: 100vh;

  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
  line-height: 1.5;

  color: DarkSlateGray;
  background-color: silver;
}

body > * {
  padding: 0 2rem;
}

header {
  background-color: white;
  margin-bottom: 1rem;
  color: silver;
}

header > h1 {
  font-size: 1rem;
  text-align: right;
}

section {
  width: min(100%, 38rem);
  background: white;
  border-radius: 0.2rem;
  padding: 0.2rem;
}
section + section {
  margin-top: 1rem;
}

h3 {
  border-bottom: DarkSlateGray 1px solid;
  margin-bottom: 1rem;
}

pre {
  padding: 1rem;
  background: DarkSlateGray;
  color: white;
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cdf8dd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
.sideMenu a {
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
  font-size: 0.8em;
  color: #225035;
  display: block;
  transition: 0.3s;
}
.sideMenu a:hover {
  color: ghostwhite;
}
.menubtn{
  font-size:30px;cursor:pointer;
  display:block;
  margin: 3% 5%;
}
